$header-main-color: #838383;
$menu-underline: #FC4348;
$main-grey: #D8DADB;

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    height: 70px;
    background-color: #f8f8f8;

    .nav {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: auto;
        height: 100%;

        .menu {
            display: flex;
            list-style: none;
            align-items: flex-end;
            padding-inline-start: 0;
            margin-block-start: 0;
            margin-block-end: 0;

            .current {
                color: #000;

                &:before {
                    left: 0;
                    background: $menu-underline;
                }

                &:after {
                    right: 0;
                    background: $menu-underline;
                }
            }

            &__item {
                text-decoration: none;
                color: $header-main-color;
                position: relative;
                margin-bottom: 6px;
                margin-left: 5px;
                margin-right: 5px;
                padding-right: 15px;
                padding-left: 15px;
                padding-bottom: 20px;
                font-size: 11pt;
                display: inline-block;

                &:after, &:before {
                    content: "";
                    position: absolute;
                    height: 4px;
                    top: auto;
                    right: 50%;
                    bottom: -5px;
                    left: 50%;
                    transition: .8s;
                }

                &:hover {

                    &:before {
                        left: 0;
                        background: $main-grey;
                    }

                    &:after {
                        right: 0;
                        background: $main-grey;
                    }
                }
            }
        }

        .search {
            display: flex;
            align-items: flex-end;
            width: 280px;
            height: 100%;

            &__icon {
            }

            &__input {
                width: 100%;
                height: 50px;
                border: 0;
                border-bottom: 4px solid $main-grey;
                background-color: transparent;
                padding-left: 30px;
                font-size: 11pt;

                &:focus {
                    outline: 0;
                    border-bottom: 4px solid #43B6E2;
                }
            }
        }
    }
}

.main {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;

    .product {
        flex-direction: column;
        box-shadow: 0 0 1px 0 rgba(0,0,0,0.20);
        border-radius: 5px;
        width: 270px;
        margin-bottom: 20px;

        &__img-wrapper {
            height: 150px;
            display: flex;

            .product__img {
                width: auto;
                height: 90px;
                margin: auto;
            }
        }
        &__text {
            box-sizing: border-box;
            border-radius: 0 0 5px 5px;
            height: 50px;
            padding: 15px;
            background-color: $main-grey;
            text-align: center;
            line-height: 20px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &:hover {
            box-shadow: 0 0 8px 0 rgba(0,0,0,0.20);
        }
    }
}

@media only screen and (max-width: 600px) {
  .header {
      height: 140px;
  }
  .nav {
      flex-wrap: wrap-reverse;
      justify-content: center !important;

      .search {
          height: initial !important;

          &__input {
              border: 3px solid $main-grey !important;
              border-radius: 5px;
          }
      }
  }

  .main {
      justify-content: center;
  }
}
